{% extends 'shared/base.html' %}


{% block content %}
<div class='container text-center'>
<div class="job_filter_category_sidebar jb_cover">
                                        <div class="job_filter_sidebar_heading jb_cover">
                                            <h1>رمز عبور شما با موفقیت تغییر کرد</h1>
                                        </div>
                                        <div class="job_overview_header jb_cover">
                                            <div class="row">
                                            <div class='col-12'>
<h2>رمز عبور شما با موفقیت تغییر کرد</h2>
</div>
<hr>
<br>
<div class='col-12'>

            <a href="{% url 'profile' %}"><button class="btn btn-danger btn-block" style="margin-top: 3rem;">برگشت به ناحیه کاربری</button></a>
</div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
	
{% endblock %}