{% extends 'shared/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
<br>
<div class='container'>
<form method='post'>
{% csrf_token %}
<div class="job_filter_category_sidebar jb_cover">
                                        <div class="job_filter_sidebar_heading jb_cover">
                                            <h1> رمز عبور و امنیت</h1>
                                        </div>
                                        <div class="job_overview_header jb_cover">
                                            <div class="row">

                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                       {{ form.old_password|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                        {{ form.new_password1|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                       {{ form.new_password2|as_crispy_field }}
                                                    </div>
                                                </div>
<button class='btn btn-danger btn-block'>ویرایش</button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                    </div>
{% endblock  %}