{% extends 'shared/register_base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}


    <!-- top header wrapper end -->
    <!--employee dashboard wrapper start-->
  
                    <div class="modal fade delete_popup" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                                        <div class="delett_cntn jb_cover">
                                            <h1><i class="fas fa-trash-alt"></i> حذف حساب</h1>
                                            <p>شما مطمئن هستید! شما میخواهید پروفایل خود را حذف کنید.
                                                <br> نمی تواند برگردانده شود!</p>

                                            <div class="delete_jb_form">

                                                <input type="password" name="password" placeholder="رمز عبور را وارد کنید">
                                            </div>
                                            <div class="header_btn search_btn applt_pop_btn">

                                                <a href="#">ذخیره به روزرسانی</a>

                                            </div>
                                            <div class="cancel_wrapper">
                                                <a href="#" class="" data-dismiss="modal">لغو</a>
                                            </div>
                                            <div class="login_remember_box jb_cover">
                                                <label class="control control--checkbox">شما شرایط و ضوابط <a href="#">و حریم خصوصی </a> ما را <a href="#">میپذیرید</a>
                                                    <input type="checkbox">
                                                    <span class="control__indicator"></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="job_listing_left_fullwidth jb_cover">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="images/pf1.jpg" alt="post_img">

                                        </div>
                                        <div class="jp_job_post_right_cont edit_profile_wrapper">
                                            <h4>JPEG یا PNG در اندازه 500x500px تصویر بند انگشتی</h4>

                                            <div class="width_50">
                                                <input type="file" id="input-file-now-custom-233" class="dropify" data-height="90" /><span class="post_photo">مرور تصویر</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="browse_img_banner jb_cover">

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="contect_form3">
                                            <label>نام کاربری</label>
                                            <input type="text" name="name" placeholder="آرش خادملو">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="contect_form3">
                                            <label>ایمیل</label>
                                            <input type="email" name="email" placeholder="luca@example.com">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="contect_form3">
                                            <label>تلفن</label>
                                            <input type="number" name="number" placeholder="+91 9098085819">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="contect_form3">
                                            <label>وب سایت</label>
                                            <input type="email" name="email" placeholder="www.webstrot.com">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="select_box">
                                            <label>شرح شغل</label>
                                            <select>
                                                <option>آی تی و کامپیوتر</option>
                                                <option>بازاریابی</option>
                                                <option>مکانیک</option>
                                                <option>دکتر</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="contect_form3">
                                            <label>آدرس</label>
                                            <input type="text" name="name" placeholder="خیابان فرضی یکم">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="contect_form3">
                                            <label>کشور</label>
                                            <input type="text" name="name" placeholder="ایران">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="select_box">
                                            <label>ناحیه</label>
                                            <select>
                                                <option>شهرک غرب</option>
                                                <option>اکباتان</option>
                                                <option>فرشته</option>
                                                <option>تجریش</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="contect_form3">
                                            <label>شهر</label>
                                            <input type="text" name="name" placeholder="ملارد">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="select_box">
                                            <label>کد پستی</label>
                                            <select>
                                                <option>455001</option>
                                                <option>422501</option>
                                                <option>45310</option>
                                                <option>41600</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="job_filter_category_sidebar jb_cover">
                                        <div class="job_filter_sidebar_heading jb_cover">
                                            <h1> شبکه های اجتماعی</h1>
                                        </div>
                                        <div class="job_overview_header jb_cover">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                        <label>گوگل</label>
                                                        <input type="email" name="email" placeholder="https://google.com/webstrot">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                        <label>فیسبوک</label>
                                                        <input type="email" name="email" placeholder="https://www.facebook.com/webstrot">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                        <label>توییتر</label>
                                                        <input type="email" name="email" placeholder="https://www.twitter.com/webstrot">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                        <label>لینکداین</label>
                                                        <input type="email" name="email" placeholder="https://www.linkedin.com/webstrot">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="header_btn search_btn jb_cover">

                                                        <a href="#">افزودن بیشتر</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="job_filter_category_sidebar jb_cover">
                                        <div class="job_filter_sidebar_heading jb_cover">
                                            <h1> رمز عبور و امنیت</h1>
                                        </div>
                                        <div class="job_overview_header jb_cover">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                        <label>ایمیل تأیید</label>
                                                        <input type="email" name="email" placeholder="webstrot@example.com">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                        <label>رمزعبور فعلی</label>
                                                        <input type="password" name="password" placeholder="*************">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                        <label>رمز عبور جدید</label>
                                                        <input type="password" name="password" placeholder="*************">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="contect_form3">
                                                        <label> تکرار رمزعبور جدید</label>
                                                        <input type="password" name="password" placeholder="*************">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="login_remember_box jb_cover">
                                        <label class="control control--checkbox">دو مرحله تأیید را از طریق ایمیل فعال کنید
                                            <input type="checkbox">
                                            <span class="control__indicator"></span>
                                        </label>
                                        <div class="header_btn search_btn jb_cover">

                                            <a href="#">ذخیره تغییرات</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}