{% extends 'shared/base.html' %}
{% block content %}
 <!-- navi wrapper End -->
    <!-- top header wrapper start -->
    <div class="page_title_section">

        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-9 col-md-8 col-12 col-sm-7">

                        <h1>ثبت نام</h1>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 col-sm-5">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="#"> خانه </a>&nbsp; / &nbsp; </li>
                                <li>ثبت نام</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top header wrapper end -->
    <!-- sign up wrapper start -->
    <div class="login_wrapper jb_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="login_top_box jb_cover">
                        <div class="login_banner_wrapper">
                            <img src="images/logo.png" alt="logo">
                            <div class="header_btn search_btn facebook_wrap jb_cover">

                                <a href="#">ورود با فیسبوک <i class="fab fa-facebook-f"></i></a>

                            </div>
                            <div class="header_btn search_btn google_wrap jb_cover">

                                <a href="#">ورود با پینترست <i class="fab fa-pinterest-p"></i></a>

                            </div>
                            <div class="jp_regis_center_tag_wrapper jb_register_red_or">
                                <h1>یا</h1>
                            </div>
                        </div>
                        <div class="login_form_wrapper signup_wrapper">
                            <h2>ثبت نام</h2>
							   <div class="form-group icon_form comments_form">

                                <input type="text" class="form-control require" name="full_name" placeholder="نام کامل*">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="form-group icon_form comments_form">

                                <input type="text" class="form-control require" name="full_name" placeholder="آدرس ایمیل*">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="form-group icon_form comments_form">

                                <input type="password" class="form-control require" placeholder="رمزعبور *">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="login_remember_box">
                                <label class="control control--checkbox">مرا به خاطر بسپار
                                    <input type="checkbox">
                                    <span class="control__indicator"></span>
                                </label>
                                <a href="#" class="forget_password">
									فراموشی رمزعبور
								</a>
                            </div>
                            <div class="header_btn search_btn login_btn jb_cover">

                                <a href="#">ثبت نام</a>
                            </div>
                            <div class="dont_have_account jb_cover">
                                <p>حساب کاربری ندارید؟ <a href="login.html">ورود</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sign up wrapper end -->


{% endblock  %}