{% extends 'shared/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
{% comment %} <div class="jobDetails-section bg-default-1 pt-28 pt-lg-27 pb-xl-25 pb-12"> {% endcomment %}
      <div class="container">
        <div class="row justify-content-center">
          <!-- back Button -->
          <div class="col-xl-10 col-lg-11 mt-4 ml-xxl-32 ml-xl-15 dark-mode-texts">
            <div class="mb-9">
              <a class="d-flex align-items-center ml-4" href="{% url 'job-list' %}"> <i class="icon icon-small-right bg-white circle-40 mr-5 font-size-7 text-black font-weight-bold shadow-8">
            </i><span class="text-uppercase font-size-3 font-weight-bold text-gray">برگشت به صفحه مشاغل</span></a>
            </div>
          </div>
          <!-- back Button End -->
          <div class="col-xl-9 col-lg-11 mb-8 px-xxl-15 px-xl-0">
            <div class="bg-white rounded-4 border border-mercury shadow-9">
              <!-- Single Featured Job -->
              <div class="pt-9 pl-sm-9 pl-5 pr-sm-9 pr-5 pb-8 border-bottom border-width-1 border-default-color light-mode-texts">
                <div class="row">
                  <div class="col-md-6">
                    <!-- media start -->
                    <div class="media align-items-center">
                      <!-- media logo start -->
                      <div class="square-72 d-block mr-8">
                        <img src="image/l2/png/featured-job-logo-1.png" alt="">
                      </div>
                      <!-- media logo end -->
                      <!-- media texts start -->
                      <div>
                        <h3 class="font-size-6 mb-0">عنوان شغلی: {{object.title}}</h3>
                        <span class="font-size-3 text-gray line-height-2">شرکت: {{object.company}}</span>
                      </div>
                      <!-- media texts end -->
                    </div>
                    <!-- media end -->
                  </div>
                  <div class="col-md-6 text-right pt-7 pt-md-0 mt-md-n1">
                    <!-- media date start -->
                    <div class="media justify-content-md-end">
                      <p class="font-size-4 text-gray mb-0"> مهر 1399</p>
                    </div>
                    <!-- media date end -->
                  </div>
                </div>
                <div class="row pt-9">
                  <div class="col-12">
                    <!-- card-btn-group start -->
                    <div class="card-btn-group">
                      <a class="btn btn-green text-uppercase btn-medium rounded-3 w-180 mr-4 mb-5" href="#">ارسال رزومه</a>

                    </div>
                    <!-- card-btn-group end -->
                  </div>
                </div>
              </div>
              <!-- End Single Featured Job -->
              <div class="job-details-content pt-8 pl-sm-9 pl-6 pr-sm-9 pr-6 pb-10 border-bottom border-width-1 border-default-color light-mode-texts">
                <div class="row mb-7">
                  <div class="col-md-4 mb-md-0 mb-6">
                    <div class="media justify-content-md-start">
                      <div class="image mr-5">
                        <img src="image/svg/icon-dolor.svg" alt="">
                      </div>
                      <p class="font-weight-semibold font-size-5 text-black-2 mb-0">حقوق : {{object.price}}</p>
                    </div>
                  </div>
                  <div class="col-md-4 pr-lg-0 pl-lg-10 mb-md-0 mb-6">
                    <div class="media justify-content-md-start">
                      <div class="image mr-5">
                        <img src="image/svg/icon-briefcase.svg" alt="">
                      </div>
                      <p class="font-weight-semibold font-size-5 text-black-2 mb-0"> نوع شغل: {{object.Type}}</p>
                    </div>
                  </div>
                  <div class="col-md-4 pl-lg-0">
                    <div class="media justify-content-md-start">
                      <div class="image mr-5">
                        <img src="image/svg/icon-location.svg" alt="">
                      </div>
                      <p class="font-size-5 text-gray mb-0">آدرس : {{object.address}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-lg-0 mb-10">
                    <div class="">
                      <span class="font-size-4 d-block mb-4 text-gray">سطح تجربه</span>
                      <h6 class="font-size-5 text-black-2 font-weight-semibold mb-9">{{object.experiance}}</h6>
                    </div>
                    {% comment %} <div class="tags">
                      <p class="font-size-4 text-gray mb-0">مهارت ها</p>
                      <ul class="list-unstyled mr-n3 mb-0">
                        <li class="d-block font-size-4 text-black-2 mt-2">
                          <span class="d-inline-block mr-2">•</span>اسلک
                        </li>
                        <li class="d-block font-size-4 text-black-2 mt-2">
                          <span class="d-inline-block mr-2">•</span>انگلیسی
                        </li>
                        <li class="d-block font-size-4 text-black-2 mt-2">
                          <span class="d-inline-block mr-2">•</span>منظم بودن
                        </li>
                      </ul>
                    </div> {% endcomment %}
                  </div>
                   <div class="col-md-12 pr-lg-0 pl-lg-10 mb-lg-0 mb-8">
                    <div class="tags">
                      <p class="font-size-4 text-gray mb-3">مهارت های مهم</p>
                      <ul class="d-flex list-unstyled flex-wrap pr-sm-25 pr-md-0">
                               {% for important in object.important.all %}
                                 <li class="bg-regent-opacity-15 mr-3 h-px-33 text-center flex-all-center rounded-3 px-5 font-size-3 text-black-2 mt-2">
                         {{important}}
                        </li>
                                        {% endfor %}
                      
                      </ul>
          
                    </div>
                  </div> 
                  {% comment %} <div class="col-md-4 pl-lg-0">
                    <div class="">
                      <span class="font-size-4 d-block mb-4 text-gray">اندازه شرکت</span>
                      <h6 class="font-size-5 text-black-2 font-weight-semibold mb-0">11-50 کارمند </h6>
                    </div>
                  </div> {% endcomment %}
                </div>
              </div>
              <div class="job-details-content pt-8 pl-sm-9 pl-6 pr-sm-9 pr-6 pb-10 light-mode-texts">
                <div class="row">
                  <div class="col-xl-11 col-md-12 pr-xxl-9 pr-xl-10 pr-lg-20">
                    <div class="">
                      <p class="mb-4 font-size-4 text-gray">توضیحات شغلی</p>
                      <p class="font-size-4 text-black-2 mb-7">{{object.description}} </p>
                    </div>
                    <div class="">
                      <span class="font-size-4 font-weight-semibold text-black-2 mb-7">نقش شما:</span>
                      <p class="font-size-4 text-black-2 mb-7">{{employer_description}}</p>
                      <span class="font-size-4 font-weight-semibold text-black-2 mb-7">مزایا شغلی:</span>
                      <ul class="list-unstyled">
                      {% for servic in  object.service.all %}
                        <li class="d-block font-size-4 text-black-2 d-flex flex-row mt-2">
                          <span class="d-inline-block mr-7">•</span>{{servic}}
                        </li>
                      {% endfor %}
                        
                      </ul>
                      <a class="btn btn-green text-uppercase btn-medium w-180 h-px-48 rounded-3 mr-4 mt-6" href="#">ارسال درخواست شغل</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
                <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                          {{massegeform.name|as_crispy_field}}
                          {% comment %} {{massegeform.pdf|as_crispy_field}} {% endcomment %}
                          {{massegeform.email|as_crispy_field}}
                          {{massegeform.phone|as_crispy_field}}
                          <button class="btn btn-success"></button>
</form>
{% endblock  %}