{% extends 'shared/base.html' %}
{% block content %}

<div class="bg-default-1 pt-26 pt-lg-28 pb-13 pb-lg-25">
      <div class="container">
        <div class="row">

          <div class="col-12 col-md-12 col-xs-12 ">
            <!-- form -->
            <form action="{% url 'job-search' %}" method='get' class="search-form search-2-adjustment ml-lg-0 ml-md-15">
              <div class="filter-search-form-2 bg-white rounded-sm shadow-7 pr-6 py-6 pl-6">
                <div class="filter-inputs">
                  <div class="form-group position-relative w-lg-30 w-xl-40 w-xxl-45">
                    <input class="form-control focus-reset pl-13" type="text" id="keyword" placeholder="نوع شغلی خود را وارد کنید" name='title' >
                    <span class="h-100 w-px-50 pos-abs-tl d-flex align-items-center justify-content-center font-size-6">
                    <i class="icon icon-zoom-2 text-primary font-weight-bold"></i>
                  </span>
                  </div>
                  <div class="form-group position-relative w-lg-55 w-xl-60 w-xxl-55">
                  <select name="city">
                  <option data-display="استان"></option>
                  {% for city in cities %}
                   <option value="{{city.title}}">{{city.title}}</option>
                  {% endfor %}
                  </select>
                  </div>
                                    <div class="form-group  position-relative w-lg-100 w-xl-60 w-xxl-55">
                  <select name="type">
                  <option data-display="نوع شغل"></option>
                   <option value="دور کاری">دور کاری</option>
                   <option value="پروژه ای">پروژه ای</option>
                   <option value='تمام وقت'>تمام وقت</option>
                   <option value="پاره وقت">پاره وقت</option>
                   <option value="کارآموزی">کارآموزی</option>
                  </select>
                  </div>

                </div>
                <div class="button-block">
                  <button class="btn btn-primary line-height-reset h-100 btn-submit w-100 text-uppercase">جستجو</button>
                </div>
              </div>
            </form>
            <div class="pt-12 ml-lg-0 ml-md-15">
              <div class="d-flex align-items-center justify-content-between">
                {% comment %} <h5 class="font-size-4 font-weight-normal text-default-color">
                  <span class="heading-default-color">120</span>
                  نتایج برای<span class="heading-default-color">طراح رابط کاربری</span>
                </h5> {% endcomment %}
              </div>
              <div class="pt-6">
                <div class="row justify-content-center">
                {% for job in object_list %}
                  <div class="col-12 col-lg-6">
                     <div class="bg-white px-8 pt-9 pb-7 rounded-4 mb-9 feature-cardOne-adjustments">
              <div class="d-block mb-7">
                {% comment %} <a href="{% url 'job-detail' job.id %}"><img src="image/l1/png/feature-brand-1.png" alt=""></a> {% endcomment %}
              </div>
              <a href="{% url 'job-detail' job.id %}" class="font-size-3 d-block mb-0 text-gray">{{ job.company }}</a>
              <h2 class="mt-n4"><a class="font-size-7 text-black-2 font-weight-bold mb-4" href="{% url 'job-detail' job.id %}"> {{ job.title }} </a></h2>
              <ul class="list-unstyled mb-1 card-tag-list">
                  {% if job.city %}
                <li><a href="{% url 'job-detail' job.id %}" class="bg-regent-opacity-15 text-denim font-size-3 rounded-3">
                    <i class="icon icon-pin-3 mr-2 font-weight-bold"></i> {{ job.city }}
                  </a></li>
                  {% endif %}
                <li><a href="{% url 'job-detail' job.id %}" class="bg-regent-opacity-15 text-orange font-size-3 rounded-3">
                    <i class="fa fa-briefcase mr-2 font-weight-bold"></i> {{ job.soldiering }}
                  </a></li>
                <li><a href="{% url 'job-detail' job.id %}" class="bg-regent-opacity-15 text-eastern font-size-3 rounded-3">
                    <i class="fa fa-dollar-sign mr-2 font-weight-bold"></i>{{ job.price }}
                  </a></li>
              </ul>
              <p class="mb-7 font-size-4 text-gray">{{ job.description|truncatewords:'10' }}</p>
              <div class="card-btn-group">
                <a class="btn btn-green text-uppercase btn-medium rounded-3" href="#">ارسال رزومه</a>
              </div>
            </div>
            <!-- End Feature One -->
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% comment %} <div class="text-center pt-5 pt-lg-13">
                <a class="text-green font-weight-bold text-uppercase font-size-3 d-flex align-items-center justify-content-center" href="#">بارگذاری بیشتر<i class="fas fa-sort-down ml-3 mt-n2 font-size-4"></i>
                </a>
              </div> {% endcomment %}
            </div>
            <!-- form end -->
          </div>
        </div>
      </div>
    </div>
{% endblock %}