{% extends 'shared/base.html' %}

{% block content %}
    <div class="page_title_section">

        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-9 col-md-9 col-12 col-sm-8">

                        <h1>{{object.title}}</h1>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12 col-sm-4">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="{% url 'index' %}"> خانه </a>&nbsp; / &nbsp; </li>
                                <li>{{object.title}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top header wrapper end -->
    <!--job single wrapper start-->
    <div class="job_single_wrapper jb_cover">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="job_filter_category_sidebar jb_cover">
                        <div class="job_filter_sidebar_heading jb_cover">
                        </div>
                        <div class="job_overview_header jb_cover">
                            <div class="jb_job_overview_img">
                                <img src="images/overview.png" alt="post_img" />
                                <h4>{{object.title}}</h4>
                                <p>{{object.company}}</p>
                                <ul class="job_single_lists">
                                    <li>
                                        <div class="header_btn search_btn part_time_btn jb_cover">

                                            <a href="#">{{object.Type}}</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                <div class="jp_listing_list_icon">
                                    <i class="far fa-calendar"></i>
                                </div>
                                <div class="jp_listing_list_icon_cont_wrapper">
                                    <ul>
                                        <li>تاریخ ارسال:</li>
                                        <li>2 اسفند 1398</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                <div class="jp_listing_list_icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="jp_listing_list_icon_cont_wrapper">
                                    <ul>
                                        <li>موقعیت:</li>
                                        <li>{{object.address}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                <div class="jp_listing_list_icon">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <div class="jp_listing_list_icon_cont_wrapper">
                                    <ul>
                                        <li>عنوان شغلی:</li>
                                        <li>توسعه دهنده HTML</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                <div class="jp_listing_list_icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="jp_listing_list_icon_cont_wrapper">
                                    <ul>
                                        <li>ساعات:</li>
                                        <li>40 ساعت / هفته</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                <div class="jp_listing_list_icon">
                                    <i class="far fa-money-bill-alt"></i>
                                </div>
                                <div class="jp_listing_list_icon_cont_wrapper">
                                    <ul>
                                        <li>حقوق:</li>
                                        <li>{{object.price}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                <div class="jp_listing_list_icon">
                                    <i class="fa fa-th-large"></i>
                                </div>
                                <div class="jp_listing_list_icon_cont_wrapper">
                                    <ul>
                                        <li>دسته بندی:</li>
                                        <li>{{object.category}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                <div class="jp_listing_list_icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="jp_listing_list_icon_cont_wrapper">
                                    <ul>
                                        <li>تجربه:</li>
                                        <li>{{object.experiance}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="jb_listing_single_overview jb_cover">
                        <div class="jp_job_des jb_cover">
                            <h2 class="job_description_heading">شرح شغل</h2>
                            <p>{{object.description}}</p>
                        </div>
                        <div class="jp_job_res jb_cover">
                            <h2 class="job_description_heading">مسئولیت ها</h2>
                            <p>{{object.employer_description}}</p>
                            <ul>
                            {% for service in object.service.all %}
                                <li><i class="fa fa-caret-right"></i>&nbsp;&nbsp; {{service}}</li>
   {% endfor %}
                            </ul>
                        </div>
                        <div class="jp_job_res jb_cover minimum_cover">
                            <h2 class="job_description_heading">مهارت های مورد نیاز</h2>

                            <ul>
                                 {% for important in object.important.all %}
                                <li><i class="fa fa-caret-right"></i>&nbsp;&nbsp; {{important}}</li>
   {% endfor %}
                            </ul>
                        </div>
                        <div class="jp_job_res jb_cover">
                            <h2 class="job_description_heading">درخواست</h2>
                            

                        </div>
                        <div class="jp_job_res jp_listing_left_wrapper jb_cover">
                            <div class="jp_listing_left_bottom_sidebar_social_wrapper">
                                <ul>
                                    <li>اشتراک :</li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>

                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="related_job_wrapper jb_cover">
                        <h1 class="related_job">مشاغل مرتبط</h1>
                        <div class="related_product_job jb_cover">

                            <div class="owl-carousel owl-theme">
                                <div class="item">

                                    <div class="job_listing_left_fullwidth jb_cover">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                                <div class="jp_job_post_side_img">
                                                    <img src="images/lt2.png" alt="post_img" />
                                                    <br> <span>گوگل</span>
                                                </div>
                                                <div class="jp_job_post_right_cont">
                                                    <h4><a href="#">کارآموز طراح وب (تازه)</a></h4>

                                                    <ul>
                                                        <li><i class="flaticon-cash"></i>&nbsp; 12هزار - 15هزار تومان</li>
                                                        <li><i class="flaticon-location-pointer"></i>&nbsp; لس آنجلس، کالیفرنیا 455001</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                                <div class="jp_job_post_right_btn_wrapper">
                                                    <ul>
                                                        <li>
                                                            <div class="job_adds_right">
                                                                <a href="#!"><i class="far fa-heart"></i></a>
                                                            </div>
                                                        </li>
                                                        <li><a href="job_single.html">نیمه وقت</a></li>
                                                        <li> <a href="#">درخواست</a></li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="job_listing_left_fullwidth jb_cover">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                                <div class="jp_job_post_side_img">
                                                    <img src="images/lt1.png" alt="post_img" />
                                                    <br> <span>گوگل</span>
                                                </div>
                                                <div class="jp_job_post_right_cont">
                                                    <h4><a href="#">طراح تجربه سیستم های قدرتمند </a></h4>

                                                    <ul>
                                                        <li><i class="flaticon-cash"></i>&nbsp; 12هزار - 15هزار تومان</li>
                                                        <li><i class="flaticon-location-pointer"></i>&nbsp; لس آنجلس، کالیفرنیا 455001</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                                <div class="jp_job_post_right_btn_wrapper">
                                                    <ul>
                                                        <li>
                                                            <div class="job_adds_right">
                                                                <a href="#!"><i class="far fa-heart"></i></a>
                                                            </div>
                                                        </li>
                                                        <li><a href="job_single.html">نیمه وقت</a></li>
                                                        <li> <a href="#">درخواست</a></li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="job_listing_left_fullwidth jb_cover">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                                <div class="jp_job_post_side_img">
                                                    <img src="images/lt5.png" alt="post_img" />
                                                    <br> <span>گوگل</span>
                                                </div>
                                                <div class="jp_job_post_right_cont">
                                                    <h4><a href="#">کارآموز طراح وب (تازه)</a></h4>

                                                    <ul>
                                                        <li><i class="flaticon-cash"></i>&nbsp; 12هزار - 15هزار تومان</li>
                                                        <li><i class="flaticon-location-pointer"></i>&nbsp; لس آنجلس، کالیفرنیا 455001</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                                <div class="jp_job_post_right_btn_wrapper">
                                                    <ul>
                                                        <li>
                                                            <div class="job_adds_right">
                                                                <a href="#!"><i class="far fa-heart"></i></a>
                                                            </div>
                                                        </li>
                                                        <li><a href="job_single.html">نیمه وقت</a></li>
                                                        <li> <a href="#">درخواست</a></li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="job_listing_left_fullwidth jb_cover">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                                <div class="jp_job_post_side_img">
                                                    <img src="images/lt2.png" alt="post_img" />
                                                    <br> <span>گوگل</span>
                                                </div>
                                                <div class="jp_job_post_right_cont">
                                                    <h4><a href="#">کارآموز طراح وب (تازه)</a></h4>

                                                    <ul>
                                                        <li><i class="flaticon-cash"></i>&nbsp; 12هزار - 15هزار تومان</li>
                                                        <li><i class="flaticon-location-pointer"></i>&nbsp; لس آنجلس، کالیفرنیا 455001</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                                <div class="jp_job_post_right_btn_wrapper">
                                                    <ul>
                                                        <li>
                                                            <div class="job_adds_right">
                                                                <a href="#!"><i class="far fa-heart"></i></a>
                                                            </div>
                                                        </li>
                                                        <li><a href="job_single.html">نیمه وقت</a></li>
                                                        <li> <a href="#">درخواست</a></li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="job_listing_left_fullwidth jb_cover">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                                <div class="jp_job_post_side_img">
                                                    <img src="images/lt1.png" alt="post_img" />
                                                    <br> <span>گوگل</span>
                                                </div>
                                                <div class="jp_job_post_right_cont">
                                                    <h4><a href="#">طراح تجربه سیستم های قدرتمند </a></h4>

                                                    <ul>
                                                        <li><i class="flaticon-cash"></i>&nbsp; 12هزار - 15هزار تومان</li>
                                                        <li><i class="flaticon-location-pointer"></i>&nbsp; لس آنجلس، کالیفرنیا 455001</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                                <div class="jp_job_post_right_btn_wrapper">
                                                    <ul>
                                                        <li>
                                                            <div class="job_adds_right">
                                                                <a href="#!"><i class="far fa-heart"></i></a>
                                                            </div>
                                                        </li>
                                                        <li><a href="job_single.html">نیمه وقت</a></li>
                                                        <li> <a href="#">درخواست</a></li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="job_listing_left_fullwidth jb_cover">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                                <div class="jp_job_post_side_img">
                                                    <img src="images/lt5.png" alt="post_img" />
                                                    <br> <span>گوگل</span>
                                                </div>
                                                <div class="jp_job_post_right_cont">
                                                    <h4><a href="#">کارآموز طراح وب (تازه)</a></h4>

                                                    <ul>
                                                        <li><i class="flaticon-cash"></i>&nbsp; 12هزار - 15هزار تومان</li>
                                                        <li><i class="flaticon-location-pointer"></i>&nbsp; لس آنجلس، کالیفرنیا 455001</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                                <div class="jp_job_post_right_btn_wrapper">
                                                    <ul>
                                                        <li>
                                                            <div class="job_adds_right">
                                                                <a href="#!"><i class="far fa-heart"></i></a>
                                                            </div>
                                                        </li>
                                                        <li><a href="job_single.html">نیمه وقت</a></li>
                                                        <li> <a href="#">درخواست</a></li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}